<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript">
    $(document).ready(function () {
      $("input[name='Gender']:radio").change(function () {
        var serviceType = this.value;
        if (serviceType == "M") {
          $("#F").hide();
        } else if (serviceType == "F") {
          $("#M").hide();
        }
      });
      $("input[name='CmCode']:radio").change(function () {
        var serviceType = this.value;
        if (serviceType == "C") {
          $("M").hide();
        } else if (serviceType == "M") {
          $("C").hide();
        }
      });
    });

    $("#home").click(function () {
            $("form").attr("action", "/notice/home");
        });
        function btn_click(str) {
            if (str == "home") {
                frm1.action = "/notice/home";
            }
        }
  </script>
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>
    <%= title %> !!
  </p>
  <form  method="GET" name="frm1">
    <table>
      <tr>
        <td> 아이디 : <input type="text" name="UID" style="width:116px" value="<%= UID %>"> 
          <!-- <input type="text"  name="overLap" style="width:44px; color:Red;font-size:9px" value= "<%= overLap %>" disabled > -->
          <input type="submit" value="중복확인" onclick="javascript: frm1.action='/users/idcheck';"/> 
          <span style="width:44px; color:Red;font: size 9px"> <%= overLap %></span>
          <!-- <span style="width:60px; color:Red;font: size 9px"><%= UID %></span>   -->
          </td>
      </tr>
      <tr>
        <td>패스워드 : <input type="text" name="PassWord" style="width:88px" > </td>
      </tr>
      <tr>
        <td>성명 : <input type="text" name="UserName" style="width:56px"></td>
      </tr>
      <tr>
        <td>주소 : <input type="text" name="Address" style="width:300px"></td>
      </tr>
      <tr>
        <td>전화번호 : <input type="text" name="TelNo" style="width:86px"></td>
      </tr>
      <tr>
        <td>이메일 : <input type="text" name="Email" style="width:150px"></td>
      </tr>
      <tr>
        <td>성별 :  <input type="radio" name="Gender" value="M" checked>남
          <input type="radio" name="Gender" value="F">여
        </td>
      </tr>
      <tr>
        <td>구분 :  <input type="radio" name="CmCode" value="C" checked>일반사용자
          <input type="radio" name="CmCode" value="M">매장관리자
        </td>
      </tr>
      <tr>
        <td><input value="등록" onclick="javascript: frm1.action='/users/signup';"  type="submit" /> 
          <input value="홈으로" type="submit" onclick='btn_click("home")' />
        </td> 
        
      </tr>
    </table>
  </form>
   
</body>

</html>